/* Global Styles */
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    margin: 20px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
}

/* Box Styles */
.box, .new-box {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}

/* Droppable Area Styles */
.droppable-area {
    width: 200px;
    height: 200px;
    border: 2px dashed rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

/* Selectable Item Styles */
.selectable-item {
    cursor: pointer;
}

/* Selected Item Styles */
.selected-item {
    background-color: rgba(40, 167, 69, 0.5) !important;
}

/* Droppable Over Styles */
.droppable-over, .droppable-dropped {
    border-color: rgba(255, 255, 255, 1);
}

/* Search Container Styles */
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* Search Input Styles */
.search-container input[type=text] {
    width: calc(25% - 5px); 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f1f1f1;
    background-image: url('searchicon.png');
    background-size: 16px; 
    background-position: 8px 50%;
    background-repeat: no-repeat;
    padding-left: 32px; 
    box-sizing: border-box;
    font-size: 14px; 
    margin-bottom: 10px;
}

/* Autocomplete Dropdown Styles */
.ui-autocomplete {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/* Draggable Box Styles */
.draggable-box {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 123, 255, 0.7); 
    color: white;
    text-align: center;
    line-height: 150px;
    border-radius: 10px;
    cursor: move;
    position: absolute;
    top: 30%;
    left: calc(100% - 200px);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease; 
}

/* Droppable Dropped Styles */
.droppable-dropped {
    background-color: rgba(40, 167, 69, 0.5); 
    transition: background-color 0.3s ease; 
}


/* Resizable Box Styles */
.resizable-box {
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    line-height: 100px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/* Autocomplete Dropdown Item Styles */
.ui-menu-item {
    padding: 5px;
    cursor: pointer;
}

/* Autocomplete Dropdown Item Hover Styles */
.ui-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Accordion Styles */
#accordion {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/* Accordion Header Styles */
#accordion h3 {
    background-color: rgba(111, 232, 137, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Accordion Content Styles */
#accordion div {
    padding: 10px;
}

#datepicker {
    background-image: none; 
    background-position: right center; 
    padding-right: 10px; 
}

/* Datepicker dropdown styles */
.ui-datepicker {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    max-height: 200px; 
    overflow-y: auto; 
}

/* Datepicker header styles */
.ui-datepicker-header {
    background-color: rgba(111, 232, 137, 0.7); 
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Datepicker calendar styles */
.ui-datepicker-calendar {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* Datepicker calendar cell styles */
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    padding: 5px;
    text-align: center;
}

/* Datepicker calendar cell hover styles */
.ui-datepicker-calendar .ui-state-default:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

/* Button styles */
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: rgba(111, 232, 137, 0.7); 
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(5px); 
}

/* Button hover effect */
button:hover {
    background-color: rgba(111, 232, 137, 1); 
}

/* Slider styles */
#slider {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    margin-bottom: 20px;
    margin-top:10px;
}

/* Button styles */
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: rgba(255, 99, 71, 0.7); /* Coral color */
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Button hover effect */
button:hover {
    background-color: rgba(255, 99, 71, 1); /* Darker coral color on hover */
}
